/******************************************************************************/
a {
		color: #08C;
}

a:visited {
		color: #B566FF;
}

blockquote {
		background: #444444;
		font-style: italic;
		margin: 0;
		padding: 10px 10px;
}

blockquote p {
		margin: 0;
}

body {
		background: #111111;
		color: #dddddd;
		font-family: "Deja Vu Sans", Sans-Serif;
		line-height: 1.5em;
		margin: 20px;
		padding: 0;
		max-width: 640px;
}

code {
		background: #444444;
		border-radius: 10px 10px;
		font-family: mono;
		font-size: 12px;
		padding: 0 5px;
}

img {
		background: #DDDDDD;
		padding: 4px;
		border-radius: 4px;
}

p {
		text-align: justify;
}

pre {
		background: #444444;
		border-radius: 10px 10px;
		display: inline-block;
		font-family: mono;
		font-size: 12px;
		line-height: 1.2em;
		margin: 10px 20px 10px 0;
		padding: 10px;
		vertical-align: middle;
}

pre code {
		padding: 0 0px;
}

h1 {
		line-height: 40px;
}

/******************************************************************************/
.title {
		background-color: #222222;
		border-radius: 10px 10px;
		padding: 0 10px;
}

.title h1 {
		line-height: 40px;
		padding: 10px 0;
}

.title #subtitle {
		font-weight: bold;
		font-style: italic;
}

.title p {
		margin-top: -20px;
		padding: 5px 0;
}

/******************************************************************************/
nav {
		background-color:#222222;
		border-radius: 5px 20px 5px 20px;
		border: 3px solid gray;
		font-weight: bold;
		padding: 0 10px;
		position: fixed;
		right: 0;
		top: 0;
		text-align: right;
}

nav:before {
		content: "Table of contents";
}

/* Toggle TOC when hovered. */
nav ul {
		display: none;
}
nav:hover ul {
		display: block;
}

/* Indent sublists. */
nav ul   {
		text-align: left;
		padding: 0;
}
nav ul li ul   {
		padding: 0 0 0 2em;
}

/* Remove list dot. */
nav ul li  {
		display: block;
}

/* Remove deeply nested TOC, mostly for power-apps */
 nav ul li ul li ul li ul li  {
		display: none;
}

nav a {
		color: #08C;
		text-decoration: none;
		white-space: nowrap;
}

nav a:hover {
		color: #dddddd;
}

/******************************************************************************/
footer {
		background: #222222;
		border-radius: 10px 10px;
		padding: 5px 0 10px 0;
		text-align: center;
		vertical-align: middle;
}

/******************************************************************************/
